/* Navbar Styling */
.navbar {
  background-color: #561217;
}

.navbar .navbar-nav {
  margin-right: auto; 
}

.navbar-brand img {
  max-width: 150px;
  height: auto;
  margin: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #FBE5B6;
  font-size: 18px;
  padding: 15px; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #F38218;
}

/* Search Bar and User Actions */
.search-bar {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px #561217;
  flex: 1; 
}

.search-bar form {
  width: 100%; 
}

.search-bar form input[type="text"] {
  border: 1px solid #561217;
}

.search-bar form input[type="text"]::placeholder {
  color: #561217;
}

.user-actions2 {
  color: #2C6E63;
  display: flex;
  align-items: center;
}

.user-actions2 a {
  border: none; 
  font-size: 3rem;
  color: #2C6E63;
}

.user-actions2 a.btn.btn-outline-secondary:hover {
  background-color: transparent; 
  color: #F38218; 
}

body {
  background-color: #FBE5B6;
}

.page-footer .custom-color {
  color: #561217;
}

.custom-color {
  color: #561217;
}

.term {
  color:#2C6E63
}

.definition {
  color: #561217
}

/* log in and register forms*/
.auth-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.auth-form {
  width: 45%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #561217;
}

.auth-form h2 {
  margin-bottom: 1rem;
  color: #FBE5B6;
}

.auth-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #FBE5B6;
}

.auth-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.auth-form button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #f8B735;
  color: #561217;
  border-radius: 0.25rem;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #F38218;
}

/*styling for back-to-home button */
.back-home{
  background-color: #2C6E63;
    color: #FBE5B6; 
    border: none; 
} 

.back-home:hover {
  background-color: #F38218; 
  color: #561217; 
}

/* Styling for browse dropdown */
.dropdown-menu {
  position: absolute; 
  width: 300px;
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px; 
  background-color: #f8B735;
}

.dropdown-item {
  width: 60px; 
  height: 60px; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 4px; 
  transition: background-color 0.2s;
  
}

.dropdown-item:hover {
  background-color: #FBE5B6; 
}

/*styling for add term form*/
.add-term-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

/* Style the heading within the add-term-section */
.add-term-section h2 {
  color: #561217;
  margin-bottom: 20px;
}

/* Style labels within the add-term-section */
.add-term-section label {
  color: #561217;
  font-weight: bold;
}

/* Style input fields within the add-term-section */
.add-term-section input[type="text"],
.add-term-section textarea {
  border: 2px solid #561217;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.add-term-section textarea {
  height: 100px;
}

/* Style the submit button within the add-term-section */
.add-term-section button[type="submit"] {
  background-color: #f8B735;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.add-term-section button[type="submit"]:hover {
  background-color: #F38218;
}

/* Media Queries */
@media (max-width: 768px) and (min-width: 425px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-item {
    flex: 1;
  }
  
  .navbar-nav .nav-item .nav-link {
    padding: 10px;
    font-size: 16px;
  }

  .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    flex-direction: row;
    position: absolute; /* Ensure dropdown overlays other content */
    top: 100%; /* Position dropdown below navbar */
    left: 0;
    z-index: 1000;
  }
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    align-items: center;
  }

  .auth-form {
    width: 80%;
    margin-bottom: 20px;
  }
}





















