/* Navbar Styling */
.navbar {
  background-color: #FBE5B6;
}

.navbar .navbar-nav {
  margin-left: auto; 
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-width: 100px;
  height: auto;
  margin: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #561217;
  font-size: 18px;
  padding: 15px; 
}

/* Search Bar and User Actions */
.search-bar {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions2 {
  margin-top: 10px; 
}

.user-actions2 a {
  margin-right: 10px; 
  color: #561217;
}


















